.row
	.col-md-8
		.card.confirm-game
			.card-header= "Confirm Game - #{@game.get_home_acronym} vs #{@game.get_away_acronym} on #{@game.date.strftime("%b %e")}"
			.card-body
				= form_with(url: '/game/confirm/new', method: 'post', local: true) do
					%input{type: 'hidden', name: 'comment[game_id]', value: "#{@game.id}"}
					.form-group
						%label Comments
						%textarea.form-control{rows: 6, name: 'comment[content]', placeholder: 'optional'}
					.actions
						%input.btn.btn-primary{type: 'submit', value: 'Confirm Game'}
						%a{href: '/game/confirm/captain'} Cancel
	.col-md-4
		= render 'shared/points_table'
		= render 'shared/upcoming_matches'