.row
	.col-md-8
		.card.match-reports
			.card-header Completed Match Reports
			.card-body
				- if flash[:notice]
					.alert.alert-success{:role => "alert"}
						= flash[:notice]
				- if flash[:error]
					.alert.alert-danger{:role => "alert"}
						= flash[:error]
				.row.options
					.form-group.col-md-3
						%label{:for => "year"} Year
						%select#year.form-control
							- Season.distinct.pluck(:year).reverse().each do |s|
								%option{value: "#{s.year}"}= s
					.form-group.col-md-3
						%label{:for => "overFormat"} Over Format
						%select#overFormat.form-control
							%option{:selected => "selected", value: '35'} 35
							%option{value: 'T20'} 20
				- if @reports.count > 0
					%table.table.table-dark
						%thead
							%tr
								%th No.
								%th Date
								%th Home
								%th Away
								%th Umpire
								%th.text-center Actions
						%tbody
							- @reports.sort_by(&:created_at).each do |e|
								%tr
									%td= e.get_game.id
									%td= e.get_game.date.strftime("%b %e")
									%td= e.get_game.get_home_acronym
									%td= e.get_game.get_away_acronym
									%td= e.get_game.get_umpire_acronym
									%td.text-center.actions
										%a{href: "/game/match-reports/#{e.id}", "data-toggle" => "tooltip", title: "View Report", "data-placement" => "bottom"}
											%i{class: "fa fa-info-circle"}
				- else
					.div.empty
						%i{class: "fa fa-frown-o"}
						%h4 Nothing to show here.

	.col-md-4
		= render 'shared/points_table'
		= render 'shared/upcoming_matches'

%script
	handleMatchReports()
	- if (params[:year] && params[:over_format])
		setYearAndOverFormat("#{params[:year]}", "#{params[:over_format]}")