.row
	.col-md-8
		.card.umpire-evaluations-list
			.card-header Umpire Evaluations
			.card-body
				- if flash[:notice]
					.alert.alert-success{:role => "alert"}
						= flash[:notice]
				- if flash[:error]
					.alert.alert-danger{:role => "alert"}
						= flash[:error]
				- if @fixtures.count > 0
					%table.table.table-dark
						%thead
							%tr
								%th Date
								%th Home
								%th Away
								%th Umpire
								%th.text-center Actions
						%tbody
							- @fixtures.sort_by(&:date).each do |f|
								%tr
									%td= f.date.strftime("%b %e")
									%td= f.get_home_acronym
									%td= f.get_away_acronym
									%td= f.get_umpire_acronym
									%td.text-center.actions
										- if !UmpireEvaluation.find_by(game_id: f.id)
											%a{href: "/game/umpire-evaluations/form/#{f.id}", "data-toggle" => "tooltip", title: "Complete Evaluation", "data-placement" => "bottom"}
												%i{class: "fa fa-check-square"}
										%a{href: "/game/#{f.id}", "data-toggle" => "tooltip", title: "Game Info.", "data-placement" => "bottom"}
											%i{class: "fa fa-info-circle"}
				- else
					.div.empty
						%i{class: "fa fa-frown-o"}
						%h4 Nothing to show here.

	.col-md-4
		= render 'shared/points_table'
		= render 'shared/upcoming_matches'