.row
	.col-md-8
		.card.confirm-umpires
			.card-header Completed Umpire Evaluations
			.card-body
				- if flash[:notice]
					.alert.alert-success{:role => "alert"}
						= flash[:notice]
				- if flash[:error]
					.alert.alert-danger{:role => "alert"}
						= flash[:error]
				.row.options
					.form-group.col-md-3
						%label{:for => "year"} Year
						%select#year.form-control
							- Season.all.each do |s|
								%option{value: "#{s.year}"}= s.year
					.form-group.col-md-3
						%label{:for => "overFormat"} Over Format
						%select#overFormat.form-control
							%option{:selected => "selected", value: '35'} 35
							%option{value: '20'} 20
				- if @evals.count > 0
					%table.table.table-dark
						%thead
							%tr
								%th No.
								%th Date
								%th Home
								%th Away
								%th.text-center Actions
						%tbody
							- @evals.each do |e|
								%tr
									%td= e.get_game.id
									%td= e.get_game.date.strftime("%b %e")
									%td= e.get_game.get_home_acronym
									%td= e.get_game.get_away_acronym
									%td.text-center
										%a{href: "/game/umpire-evaluations/#{e.id}", "data-toggle" => "tooltip", title: "View Evaluation", "data-placement" => "bottom"}
											%i{class: "fa fa-info-circle"}
				- else
					.div.empty
						%i{class: "fa fa-frown-o"}
						%h4 Nothing to show here.

	.col-md-4
		= render 'shared/points_table'
		= render 'shared/upcoming_matches'

%script
	handleUmpireEvals()
	- if (params[:year] && params[:over_format])
		setYearAndOverFormat("#{params[:year]}", "#{params[:over_format]}")