.row.justify-content-md-center.login
  .col-md-4
    .card
      .card-body
        %h4.card-title Change your passowrd
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
          = render "devise/shared/error_messages", resource: resource
          = f.hidden_field :reset_password_token
          .form-group
            = f.label "New password"
            - if @minimum_password_length
              %em= "#{@minimum_password_length} characters min."
            = f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control"
          .form-group
            = f.label "Confirm new password"
            = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
          .actions
            = f.submit "Change my password", class: "btn btn-primary"
        = render "devise/shared/links"

