%nav
  %a{href: '/'}
    = image_tag 'tscl_logo_2.svg', class: 'logo', title: 'TSCL'
  .divider
  .items
    - @navigation.each do |nav|
      - if nav[:children]
        %a{href: "#" + "#{nav[:title].gsub(/\s+/, "")}", "data-toggle" => "collapse"}
          %i{class: "fa fa-#{nav[:icon]}"}
          = nav[:title]
        .collapse{id: nav[:title].gsub(/\s+/, "")}
          .children
            - nav[:children].each do |child|
              %a{href: "#{child[:url]}"}
                = child[:title]
      - else
        %a{href: "#{nav[:url]}", :class => ("selected" if nav[:url] == request.path)}
          %i{class: "fa fa-#{nav[:icon]}"}
          = nav[:title]
  .actions
    .actions__items
      - @actions.each do |action|
        - if action[:title] == 'divider'
          .divider
        - else
          - if action[:title] == 'Logout'
            = link_to('Logout', destroy_user_session_path, method: 'delete')
          - else
            %a{href: "#{action[:url]}"}
              - if action[:icon]
                %i{class: "fa fa-#{action[:icon]}"}
              = action[:title]
    %a#admin{href: "#"}
      %i{class: "fa fa-user"}
      Admin
    .currentTime

%script
  adminMenuToggle()
  showCurrentTime()