.row
	.col-md-8
		.card.clubs-and-grounds
			.card-header Clubs and Grounds
			.card-body
				%table.table.table-dark
					%thead
						%tr
							%th Name
							%th Ground
							%th Captain (s)
							%th.text-center Map
					%tbody
						- @clubs.each do |c|
							%tr
								%td= c.name
								%td= c.ground
								%td
									- c.get_captains.each do |c|
										%div= c
								%td.text-center
									%a{target: "_blank", href: "#{c.map}", "data-toggle" => "tooltip", title: "Google Map", "data-placement" => "bottom"}
										%i{class: "fa fa-external-link-square"}
	.col-md-4
		= render 'shared/points_table'
		= render 'shared/upcoming_matches'