.row
	.col-md-8
		.card.ec
			.card-header Executive Committee
			.card-body
				- if @ec
					%table.table.table-dark
						%thead
							%tr
								%th Name
								%th Role
								%th Teams
						%tbody
							- @ec.each do |e|
								%tr
									%td= User.find(e.user_id).get_full_name
									%td= e.role
									%td
										- User.find(e.user_id).clubs.each do |c|
											.club= c.acronym
				- else
					.div.empty
						%i{class: "fa fa-frown-o"}
						%h4 Nothing to show here.
	.col-md-4
		= render 'shared/points_table'
		= render 'shared/upcoming_matches'